In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Question1
If you have the following list

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = [‘Age’,’Nationality’,’Overall’]

How do you create a pandas DataFrame using this list, to look like the table below?

In [9]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age', 'Nationality', 'Overall']

pd.DataFrame(lst, columns = col, index = [1,2,3])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

Given the following numpy array 

array  = ([[94, **89, 63**],

             [93, **92, 48**],

             [92, 94, 56]])

How would you select  the elements in bold and italics from the array?

In [12]:
df  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

In [18]:
#df.shape()

#len(df)

#pd.length(df)

print(df.shape)

AttributeError: 'list' object has no attribute 'shape'

In [21]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [22]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [38]:
y = [(2, 4), (7, 8), (1, 5, 9)]
x = y[1][-1]

In [39]:
print(x)

8

In [40]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG - FoodBalanceSheets_E_Africa_NOFLAG.csv')
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
5,4,Algeria,2903,Vegetal Products,664,Food supply (kcal/capita/day),kcal/capita/day,2932.00,2958.00,2941.00,2921.00,2932.00
6,4,Algeria,2903,Vegetal Products,674,Protein supply quantity (g/capita/day),g/capita/day,67.14,67.38,67.37,66.11,67.10
7,4,Algeria,2903,Vegetal Products,684,Fat supply quantity (g/capita/day),g/capita/day,53.84,54.72,52.04,55.59,54.57
8,4,Algeria,2941,Animal Products,664,Food supply (kcal/capita/day),kcal/capita/day,444.00,421.00,431.00,421.00,390.00
9,4,Algeria,2941,Animal Products,674,Protein supply quantity (g/capita/day),g/capita/day,27.76,26.97,27.35,26.71,24.73
10,4,Algeria,2941,Animal Products,684,Fat supply quantity (g/capita/day),g/capita/day,26.22,24.64,25.37,24.60,22.71
11,4,Algeria,2905,Cereals - Excluding Beer,5511,Production,1000 tonnes,3436.00,3761.00,3445.00,3478.00,6065.00
12,4,Algeria,2905,Cereals - Excluding Beer,5611,Import Quantity,1000 tonnes,12604.00,13983.00,13523.00,13039.00,13182.00
13,4,Algeria,2905,Cereals - Excluding Beer,5072,Stock Variation,1000 tonnes,684.00,1663.00,905.00,705.00,2226.00
14,4,Algeria,2905,Cereals - Excluding Beer,5911,Export Quantity,1000 tonnes,3.00,7.00,7.00,10.00,17.00
15,4,Algeria,2905,Cereals - Excluding Beer,5301,Domestic supply quantity,1000 tonnes,15353.00,16075.00,16056.00,15803.00,17004.00
16,4,Algeria,2905,Cereals - Excluding Beer,5521,Feed,1000 tonnes,4725.00,5070.00,4838.00,4667.00,5266.00
17,4,Algeria,2905,Cereals - Excluding Beer,5527,Seed,1000 tonnes,177.00,189.00,197.00,202.00,278.00
18,4,Algeria,2905,Cereals - Excluding Beer,5123,Losses,1000 tonnes,1084.00,1203.00,1148.00,1121.00,1253.00
19,4,Algeria,2905,Cereals - Excluding Beer,5131,Processing,1000 tonnes,35.00,38.00,37.00,33.00,44.00
20,4,Algeria,2905,Cereals - Excluding Beer,5154,Other uses (non-food),1000 tonnes,787.00,847.00,835.00,840.00,951.00
21,4,Algeria,2905,Cereals - Excluding Beer,5170,Residuals,1000 tonnes,0.00,0.00,0.00,0.00,-8.00
22,4,Algeria,2905,Cereals - Excluding Beer,5142,Food,1000 tonnes,8546.00,8729.00,9001.00,8941.00,9219.00
23,4,Algeria,2905,Cereals - Excluding Beer,645,Food supply quantity (kg/capita/yr),kg,219.56,219.72,221.98,216.02,218.31
24,4,Algeria,2905,Cereals - Excluding Beer,664,Food supply (kcal/capita/day),kcal/capita/day,1680.00,1682.00,1699.00,1656.00,1672.00
25,4,Algeria,2905,Cereals - Excluding Beer,674,Protein supply quantity (g/capita/day),g/capita/day,49.43,49.54,50.01,48.86,49.36
26,4,Algeria,2905,Cereals - Excluding Beer,684,Fat supply quantity (g/capita/day),g/capita/day,6.84,6.78,6.83,6.63,6.58
27,4,Algeria,2511,Wheat and products,5511,Production,1000 tonnes,2436.00,2657.00,2440.00,2437.00,3981.00
28,4,Algeria,2511,Wheat and products,5611,Import Quantity,1000 tonnes,7461.00,8531.00,8255.00,8105.00,8434.00
29,4,Algeria,2511,Wheat and products,5072,Stock Variation,1000 tonnes,487.00,1401.00,731.00,546.00,1927.00
...,...,...,...,...,...,...,...,...,...,...,...,...
60913,181,Zimbabwe,2928,Miscellaneous,5611,Import Quantity,1000 tonnes,42.00,47.00,34.00,15.00,16.00
60914,181,Zimbabwe,2928,Miscellaneous,5072,Stock Variation,1000 tonnes,0.00,0.00,0.00,-4.00,0.00
60915,181,Zimbabwe,2928,Miscellaneous,5911,Export Quantity,1000 tonnes,1.00,1.00,1.00,1.00,1.00
60916,181,Zimbabwe,2928,Miscellaneous,5301,Domestic supply quantity,1000 tonnes,41.00,46.00,33.00,19.00,16.00
60917,181,Zimbabwe,2928,Miscellaneous,5170,Residuals,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60918,181,Zimbabwe,2928,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60919,181,Zimbabwe,2928,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.34,1.09
60920,181,Zimbabwe,2928,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,2.00,1.00
60921,181,Zimbabwe,2928,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.05,0.04
60922,181,Zimbabwe,2928,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.02
60923,181,Zimbabwe,2680,Infant food,5611,Import Quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60924,181,Zimbabwe,2680,Infant food,5072,Stock Variation,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60925,181,Zimbabwe,2680,Infant food,5911,Export Quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60926,181,Zimbabwe,2680,Infant food,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60927,181,Zimbabwe,2680,Infant food,5170,Residuals,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60928,181,Zimbabwe,2680,Infant food,5142,Food,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60929,181,Zimbabwe,2680,Infant food,645,Food supply quantity (kg/capita/yr),kg,0.00,0.00,0.00,0.00,0.01
60930,181,Zimbabwe,2680,Infant food,664,Food supply (kcal/capita/day),kcal/capita/day,0.00,0.00,0.00,0.00,0.00
60931,181,Zimbabwe,2680,Infant food,674,Protein supply quantity (g/capita/day),g/capita/day,0.00,0.00,0.00,0.00,0.00
60932,181,Zimbabwe,2680,Infant food,684,Fat supply quantity (g/capita/day),g/capita/day,0.00,0.00,0.00,0.00,0.00
60933,181,Zimbabwe,2899,Miscellaneous,5611,Import Quantity,1000 tonnes,42.00,47.00,33.00,15.00,16.00
60934,181,Zimbabwe,2899,Miscellaneous,5072,Stock Variation,1000 tonnes,0.00,0.00,0.00,-4.00,0.00
60935,181,Zimbabwe,2899,Miscellaneous,5911,Export Quantity,1000 tonnes,1.00,1.00,0.00,0.00,1.00
60936,181,Zimbabwe,2899,Miscellaneous,5301,Domestic supply quantity,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60937,181,Zimbabwe,2899,Miscellaneous,5170,Residuals,1000 tonnes,0.00,0.00,0.00,0.00,0.00
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [42]:
df.info()    #showing the info of the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
Area Code       60943 non-null int64
Area            60943 non-null object
Item Code       60943 non-null int64
Item            60943 non-null object
Element Code    60943 non-null int64
Element         60943 non-null object
Unit            60943 non-null object
Y2014           59354 non-null float64
Y2015           59395 non-null float64
Y2016           59408 non-null float64
Y2017           59437 non-null float64
Y2018           59507 non-null float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [43]:
df.nunique()    #unique properties of the dataframe

Area Code         49
Area              49
Item Code        122
Item             119
Element Code      18
Element           18
Unit               5
Y2014           4493
Y2015           4520
Y2016           4520
Y2017           4537
Y2018           4591
dtype: int64

# Question 11

What is the total sum of Animal Fat produced in 2014 and 2017 respectively?

In [44]:
(df.groupby('Item').sum()[['Y2014', 'Y2017']]).loc['Animal fats']

Y2014    209460.54
Y2017    269617.53
Name: Animal fats, dtype: float64

# Question 12
What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?

In [49]:
df.describe(include='all').loc[['mean','std'],['Y2015']]

            Y2015
mean   135.235966
std   1603.403984

# Question 13
What is the total number and percentage of missing data in 2016 to 2 decimal places?

In [51]:
print(df['Y2016'].isnull().sum())

1535

In [53]:
print(df['Y2016'].isnull().sum() * 100 / df['Y2016'].count())

2.583827093994075

# Question 14
Which year had the highest correlation with ‘Element Code’?

In [54]:
df.corr(method ='pearson')

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

# Question 15
What year has the highest sum of Import Quantity?

In [55]:
df.groupby("Element").sum().loc['Import Quantity'].sort_values(ascending=False)

Element Code    28834929.00
Item Code       13795966.00
Area Code         688174.00
Y2017             294559.09
Y2018             287997.09
Y2016             286582.78
Y2014             274144.48
Y2015             267018.46
Name: Import Quantity, dtype: float64

# Question 16
What is the total number of the sum of Production in 2014?

In [56]:
df.groupby("Element")['Y2014'].sum().sort_values(ascending=False)['Production']

1931287.7500000005

# Question 17
Which of these elements had the highest sum in 2018?

In [57]:
df.groupby("Element")['Y2018'].sum().sort_values(ascending=False)

Element
Domestic supply quantity                  2161192.10
Production                                2075072.89
Food                                      1303841.28
Total Population - Both sexes             1140605.00
Food supply (kcal/capita/day)              455261.00
Processing                                 308429.00
Import Quantity                            287997.09
Feed                                       233489.68
Export Quantity                            181594.80
Losses                                     163902.00
Other uses (non-food)                       91300.97
Food supply quantity (kg/capita/yr)         49056.85
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Protein supply quantity (g/capita/day)      11833.56
Fat supply quantity (g/capita/day)          10258.69
Tourist consumption                            90.00
Name: Y2018, dtype: float64

# Question 19 
What is the total Import Quantity in Algeria in 2018?

In [58]:
df[df["Area"] == 'Algeria'].groupby('Element')['Y2018'].sum().loc['Import Quantity']

36238.29

# Question 20
What is the total number of unique countries in the dataset?

In [59]:
len(df.groupby("Area")["Area"].count())

49